@model _744Project.Models.CreditCard

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>Details</h2>
    <div class="panel panel-default">
        <div class="panel-body">

            <div>
                <h4>Credit Card</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Account.accountNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Account.accountNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.firstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.firstName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.lastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lastName)
                    </dd>

             

                    <dt>
                        @Html.DisplayNameFor(model => model.cardNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.cardNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.cardExpirationDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.cardExpirationDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.cardSecurityCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.cardSecurityCode)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.cardMaxAllowed)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.cardMaxAllowed)
                    </dd>*@

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.cardID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>

</div>
</div>
</div>