@model _744Project.ViewModels.RegionsRelaysStoresViewModel
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <h2> </h2>
    <div class="panel panel-default">
        <div class="panel-body">


            @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Modify Connections</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                <div class="form-group">
                    @Html.Label("First IP ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">                        
                        @Html.DropDownList("ip1", new SelectList(ViewBag.ip1, ""), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessage("ip1", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Second IP ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">                        
                        @Html.DropDownList("ip2", new SelectList(ViewBag.ip2, ""), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessage("ip2", "", new { @class = "text-danger" })                        
                    </div>
                </div>


                @*Weight*@
                <div class="form-group">
                    @Html.Label("Weight ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("weight", new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "any", @min = "1", @max = "500", autocomplete = "on" } })
                        @Html.ValidationMessage("weight", "", new { @class = "text-danger" })
                        <h4 style="color:green">@ViewBag.SuccessMessage</h4>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
}

        <div>
            @*@Html.ActionLink("Back to List", "Index")*@
            <a href="../EditNetwork"> Back to Network Options </a>
        </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }


        </div>
        </div>
</div>