@model _744Project.Models.Store

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Relay.relayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relay.relayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.storeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
