@model _744Project.ViewModels.NetworkEntityViewModel


<div>
	<h3>
		@if(Model.type == 0)
		{
			<span>Store</span>
		}
		@if(Model.type == 1)
		{
			<span>Relay</span>
		}
		@if(Model.type == 0)
		{
			<span>Processing Center</span>
		}
	</h3>
<!--using (Html.BeginForm())
{-->
	<div>
		<dl class="dl-horizontal">
			<dt>Ip</dt>
			<dd>@Model.ip</dd>
			<dt>Active</dt>
			<dd>@Model.isActive</dd>
			<dt>Gateway</dt>
			<dd>@Model.isGateway</dd>
			<dt>Queue</dt>
			<dd>@Model.queue<dd>
			<dt>Region</dt>
			<dd>@Model.region</dd>
		</dl>
	</div>
	<!--<button onclick="Activate(@Model.id,@Model.type)" id="Activate" class="btn btn-default Activate" >Activate</button>-->
	<div class="form-group">
	
		<div class="col-md-offset-2 col-md-10">
			@if (Model.isActive && Model.type == 1)
			{
				<!--<input type="submit" id="@Model.id" value="Inactivate" class="btn btn-default" />-->
				<button onclick="Activate(@Model.id,@Model.type,'@Model.ip')" id="Activate" class="btn btn-default Activate">Inactivate</button>
			}
			@if(!Model.isActive && Model.type == 1)
			{
				<!--<input type="submit" value="Activate" class="btn btn-default" />-->
				<button onclick="Activate(@Model.id,@Model.type,'@Model.ip')" id="Activate" class="btn btn-default Activate">Activate</button>
			}
		</div>
	</div>
	@if(Model.type == 2)
	{
		<div id="PCTransactionList" class="table table-bordered">
			<div>Test</div>
		</div>
	}

</div>

@section Scripts{
	<script>

		processingCenterQueue.forEach(function (element) {
			console.log(element);
			$("PCTransactionList").append('<div id="innerDiv">1</div>');
		});
		/*function Activate(id, type) {
			console.log("testing 1 2 3");
			console.log(id);
			if (id != null) {
				
				var list = [];
				var obj = {};
				obj['id'] = Model.id;
				obj['isActive'] = !Model.isActive;
				obj['type'] = Model.type;
				list.push(obj);
				list = JSON.stringify({
					'nodePosition': list
				});
				obj = JSON.stringify(obj);
				console.log(obj);

				//console.log(list);

				var url = '/Network/SaveNoteInformation';
				$.ajax({
					type: 'POST',
					url: url,
					data: obj,
					dataType: 'json',
					contentType: 'application/json;charset=utf-8',
					success: function (data) {
						alert(data);
						$("#NodePopup").html("");
					},
					failure: function (errMsg) {
						alert(errMsg);
						$("#NodePopup").html("");
					}
				});
			}
			else {
				$("#NodePopup").html("");
			}
		}*/

		/*$("#Activate").onClick(function (event) {
            //preliminary data gathering for Answers and Questions
			alert(event.target.id);
			console.log("HERE");
			var id = "Model.id.ToString()";
			var type = "Model.type.ToString()";

			if (id != null) {
				var DEST = "/Network/GetNodeInformation?id=" + id + "&type=" + type;
				$.ajax({
					url: DEST,
					contentType: 'application/html; charset=utf-8',
					type: 'POST',
					dataType: 'html'

				})
					.success(function (result) {
						//$("#NodePopup").html(result);
						//$("#myModal").modal()
						$("#NodePopup").html("");

					})
					.error(function (xhr, status) {
						alert(status);
					})
			}
			else {
				$("#NodePopup").html("");
			}
		});*/
	</script>
}